@using Project.Models
@model dynamic
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
Layout = "_LayoutLogin";
ViewBag.Title = "Danh sách hóa đơn";
}
<div class="accordion" id="accordionExample">
    @foreach (Bill bill in Model.List)
    {
        double price = 0;
        <div class="accordion-item">
            <div class="accordion-header" id="heading_@bill.Id">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@bill.Id" aria-expanded="true" aria-controls="collapse_@bill.Id">
                    <div class="d-flex flex-column">
                        <a href="/Bill/Invoice/@bill.Id"><h5>Invoice #@bill.Id</h5></a>
                        <span class="text-muted">@bill.Restaurant().Name - @(bill.IsTakeAway==true?"Take Away":"Ship")</span>
                    </div>
                </button>
            </div>
            <div id="collapse_@bill.Id" class="accordion-collapse collapse show" aria-labelledby="heading_@bill.Id" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @foreach (BillDetail billDetail in bill.BillDetails())
                    {
                        price += billDetail.Price * billDetail.Quantity;
                        <hr>
                        <div class="row">
                            <div class="col-xl-6">
                                <p>@billDetail.Product.Name</p>
                            </div>
                            <div class="col-xl-2">
                              <p class="float-end">x @billDetail.Quantity</p>
                            </div>
                            <div class="col-xl-2">
                              <p class="float-end price">@billDetail.Price</p>
                            </div>
                            <div class="col-xl-2">
                              <p class="float-end price">@(billDetail.Price*billDetail.Quantity)</p>
                            </div>
                        </div>
                    }
                    <hr style="border: 2px solid black;">
                    <div class="row text-black">
                        <div class="col-xl-12">
                            <p class="float-end fw-bold">Total: <span class="price">@price</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>