@using Project.Models
@using Project.ADO
@model dynamic
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    double totalPrice = 0;
    bool allowPrepay = true;
    User user = null;
    if (Context.Session.GetString("user") == null)
    {
        Layout = "_LayoutRestaurant";
    }
    else
    {
        Layout = "_LayoutLogin";
        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user"));
    }
    ViewBag.Title = "Thanh Toán";
}
<div class="d-flex justify-content-between align-items-center py-3">
    <h1 class="h1">Giỏ hàng</h1>
</div>
<div class="row">
    <div class="col-md-5 col-lg-4">
            @foreach(int res in Model.Cart.Keys)
            {
                double price = 0;
            Restaurant restaurant = RestaurantADO.GetRestaurant(res, true);
            if (String.IsNullOrEmpty(restaurant.AccountNumber) || string.IsNullOrEmpty(restaurant.Bank))
            {
                allowPrepay = false;
            }
            <div class="card mt-5">
                    <div class="card-body">
                        <a href="/Restaurant/Detail/@res" class="card-title h5">@restaurant.Name</a>
                        <hr>
                        <ul class="list-group list-group-flush">
                            @foreach (Product p in Model.Cart[res].Keys)
                        {
                            price += p.Price * Model.Cart[res][p];
                            <li class="list-group-item row pt-2">
                                @if(p.ProductImages!=null&&p.ProductImages.Count()>0){
                                    <div class="col-xl-3 col-md-6"><img src="~/img/product/@p.Id/@p.ProductImages[0]"/></div>
                                    <div class="col-xl-9 col-md-6">
                                        <h6 class="card-subtitle mb-2 text-muted">@p.Name</h6>
                                        <p class="card-text">@p.Description</p>
                                        <div class="text-muted d-flex justify-content-between align-items-center">
                                            <span class="price">@p.Price</span>
                                            <span>x @Model.Cart[res][p]</span>
                                        </div>
                                    </div>
                                }else{
                                    <div class="col-xl-9 col-md-6 offset-xl-3 offset-md-6">
                                        <h6 class="card-subtitle mb-2 text-muted">@p.Name</h6>
                                        <p class="card-text">@p.Description</p>
                                        <div class="text-muted d-flex justify-content-between align-items-center">
                                            <span class="price">@p.Price</span>
                                            <span>x @Model.Cart[res][p]</span>
                                        </div>
                                    </div>
                                }
                            </li>
                        }
                        </ul>
                    </div>
                    <div class="card-footer d-flex justify-content-end align-items-end price">@price</div>
                </div>
                totalPrice += price;
            }
    </div>
    <div class="col-md-7 col-lg-8">
        <form class="needs-validation" action="/Bill/Checkout" novalidate="">
        <div class="mb-3">
            <h4>Ship</h4>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" value="true" name="isTakeAway" onchange="showForm()" id="takeAway" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="takeAway">Take Away</label>

                <input type="radio" class="btn-check" name="isTakeAway" onchange="showForm()" id="ship" autocomplete="off">
                <label class="btn btn-outline-primary" for="ship">Ship</label>
            </div>
        </div>
        <hr class="my-4">
        <div id="shipForm" style="display: none;">
            <h4 class="mb-3">Billing address</h4>
            <div class="row g-3">
            @if (user != null)
            {
                <input type="text" name="id" value="@user.Id" hidden />           
            }
            <div class="col-6">
              <label for="fullName" class="form-label">Full name</label>
              <input type="text" class="form-control" value="@(user==null?"":user.FullName)" id="fullName" name="fullName" placeholder="" required="">
              <div class="invalid-feedback">
                Valid full name is required.
              </div>
            </div>
            <div class="col-6">
              <label for="phone" class="form-label">Phone</label>
              <input type="text"  value="@(user==null?"":user.Phone)" class="form-control" id="phone" name="phone" required placeholder="0123456789">
              <div class="invalid-feedback">
                Please enter a valid phone for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" value="@(user==null?"":user.Address)" id="address" name="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
          </div>
        <hr class="my-4">
        </div>

        <h4 class="mb-3">Payment</h4>
        <span>Please Choose if you are already pay bill by transfer</span>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item active" role="presentation">
                <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" onclick="document.getElementById('transfer').checked = false;" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Cash On Delivery</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(allowPrepay==true?"":"disabled")" id="pills-home-tab" onclick="document.getElementById('transfer').checked = true;" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Prepayment</button>
            </li>
        </ul>
        <input type="checkbox" hidden id="transfer" name="isTransfer" />
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
            @if(allowPrepay){
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    @foreach(int res in Model.Cart.Keys)
            {
                Restaurant restaurant = RestaurantADO.GetRestaurant(res, true);
                double price = 0;
                <input type="checkbox" class="btn-check" name="res_@res" id="prepay#@res" autocomplete="off">
                <label class="col-xl-5 offset-xl-1 col-md-12 card padding-0 btn btn-outline-primary" for="prepay#@res">
                  <div class="card-body">
                    <h5 class="card-title">@restaurant.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@restaurant.Bank</h6>
                    <p class="card-text">@restaurant.AccountNumber</p>
                    @foreach (Product product in Model.Cart[res].Keys)
                            {
                                price += product.Price * Model.Cart[res][product];
                            }
                    <p class="card-text price">@price</p>
                  </div>
                </label>
              }
                </div>
            </div>
            }
        </div>
          <hr class="my-4">
          <h4 class="mb-3">Total Price: <span class="text-muted price">@totalPrice</span></h4>
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
</div>